:root {
  --org-color: #fc6909;
  --orw-color: #fff;
  --hv-color: #fc6a09cd;
  --bg-color: #000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
  background-color: #fc6909;
  display: flex;
}
